body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("mandalas-1084082_640.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.container {
    text-align: center;
}

h1 {
    color: #333;
}

.clock {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#time {
    font-size: 36px;
    margin-bottom: 20px;
}

#alarm-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#alarm-form label {
    margin-right: 10px;
}

#alarm-time {
    padding: 5px;
}

button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}
